<div class="container"

  <p id="notice"><%= notice %></p>

  <% if signed_in? %>
  <h3>Hello <%=link_to current_user.username, user_path(current_user.id) %>!</h3>
  <%end %>

  <h1>Listing Tweets</h1>

  <%= render :partial => @tweets %>

  <br>

  <%= link_to 'New Tweet', new_tweet_path, class: "btn btn-default navbar-btn" %>

</div>
